# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
broadcast/

# Docs
docs/

# Dotenv file
.env

# IDE files
.vscode
.wake

# MacOS files
.DS_Store

# Foundry
remappings.txt